

.profile-name{
    background-color: #49a71d;
    text-align: center;
    height: 100px;
    margin: 10px;
}

.profile-Top {
  display: grid;
  grid-row: 1;
  grid-column: 1/ -1;
  align-items: center;
  gap: 20px;
  background-color: #1da779;
}

.m1{
    display: grid;
    grid-row: 2;
    grid-column: 1/-1;
    gap: 10px;
    background-color: #5a8a9a;
     grid-template-columns: 1fr 1fr;
}


.profile-pic{
    background-color: #a71da2;
    text-align: center;
    height: 300px;
    width: 450px;
    margin: 10px;
}

.profile-bio{
    background-color: #a71d57;
    text-align: center;
    margin: 10px;
    margin-left: -150px;
}

.m2{
    display: grid;
    grid-row: 3;
    grid-column: 1/-1;
    gap: 10px;
    background-color: #5a8a9a;
     grid-template-columns: 1fr 1fr;
}

.profile-role{
    background-color: #1da779;
    text-align: center;
    height: 300px;
    width: 450px;
    margin: 10px;
}
.pixel-me{
    background-color: #1da779;
    text-align: center;
    height: 300px;
    width: 450px;
    margin: 10px;
    
}

.profile-cv{
    background-color: #5a8a9a;
    text-align: center;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    height: auto;
    margin: 20px;
}

.profile-cv .cv{
    background-color: #a71d57;
    text-align: center;
    height: 100px;
    margin: 10px;
    grid-column: 1 / -1;
}

.cv-row{
     display: grid;
    gap: 10px;
    margin-bottom: 10px;
}
.box1{
    background-color: #7cb3a1;
    text-align: center;
    height: 200px;
    margin: 10px;
}

.box2{
    background-color: #7cb3a1;
    text-align: center;
    height: 200px;
    margin: 10px;
}
.box3{
    background-color: #7cb3a1;
    text-align: center;
    height: 200px;
    margin: 10px;
}
.box4{
    background-color: #7cb3a1;
    text-align: center;
    height: 200px;
    margin: 10px;
}

.box5{
    background-color: #7cb3a1;
    text-align: center;
    height: 200px;
    margin: 10px;
}
.box6{
    background-color: #7cb3a1;
    text-align: center;
    height: 200px;
    margin: 10px;
    grid-template-rows: 1fr 1fr 1fr;
}


.file1{
    background-color: #1da779;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 10px;
    
}

.file2{
    background-color: #1da779;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 10px;
    
}

.file3{
    background-color: #1da779;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 10px;
    
}