
*{
    font-family:Arial,sans-serif;

}
.profile-name{

    background-color: #66a5ed;
    text-align: center;
    height: px;
    margin: 10px;
    padding: 1.9%;
    color: #db3e8c ;
}


.profile-pic{
    background-color: #66a5ed;
    text-align: center;
    height: 300px;
    width: 450px;
    margin: 10px;
}

.profile-bio{
    background-color: #ffafeb;
    color: #5c0d62;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    height: 300px;
}


.profile-role{
    background-color: #db3e8c;
        border-radius: 10px;
    color: #66a5ed;
    text-align: center;
    height: 300px;
    margin: 10px;
}

.title{
    height: 50px;
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
    
}
.pixel-me{
    text-align: center;
    height: 300px;
    width: 450px;
    margin: 10px;
    
}

.text-box{
    height: auto;
    width: 75%;
    margin-left: 5%;
    margin-top: 10px;
}


.cv{
    background-color: #5c0d62;
    color: #F6C45C;
    text-align: center;
    grid-column: 1/-1;
    height: auto;
    margin: 20px;
}


.box{
    background-color: #66a5ed;
    text-align: center;
    border-radius: 10px;
    color: #db3e8c;
    height: 300px;
    margin: 10px;
}


.box6{
    background-color: #db3e8c;
    color:#66a5ed;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    margin: 10px;
    gap:10px;
}


 

.pen{
    width: 50px;
    object-fit: contain;
}

.trash{
    width: 50px;
    object-fit: contain;
}

.plus{
    width: 200px;
}

.plus-files{
    width: 100px;
}

.folder{
    width: 50px;
}
