.body{
  gap: 20px;
  background-color: #1da779;
}

.name{
    background-color: #F6C45C;
    text-align: center;
    width: 100%;
}



.whatis{
    border-radius: 10px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #F6C45C;
    padding: 10px;
}

.timeline{
    
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #F6C45C;
    border-radius: 10px;

}

.Minigames{
    height: 300px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #db3e8c;
}

.picMini{
    grid-row: 3;
    border-radius: 10px;
    height: 250px;
    margin-left: 200px;
    background-color: rgb(226, 43, 116);
}

.gameplay{
    background-color: pink;
} 