.title{
    text-align: center;
}

.button-row{
    margin-top: 100px;
    background-color: aquamarine;
}

.type-text-box{
    margin-top: 10px;
    height: 200px;
    background-color: rgb(159, 128, 187);
}

textarea {
    width: 75%;
    height: 450px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-left: 200px ;
    background-color: white;
}